.itemsCourse .dd-placeholder {
  float: none !important;
  width: 100% !important;
  display: block !important;
}
.itemsCourse .dd3-content .btn {
  float: right;
  margin-top: -7px;
  margin-right: -10px;
  margin-bottom: 0 !important;
  margin-left: 15px;
}
.itemsCourse .dd3-content .btn:hover {
  background: #ccc;
}
.itemsCourse .dd3-handle:before {
  content: none;
}

.itemsCourse > .dd-list {
  background-color: #f5f5f5;
  border: 1px dashed #bbbbbb;
  min-height: 300px;
  padding: 15px;
  width: 100%;
}
.dd-list > li {
  min-height: 33px;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
}
.dd-list > li > button {
  background-color: #f5f5f5;
  border: 0;
  font-size: 18px;
  height: 32px;
  left: -10px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 15px;
}
.dd-list > li > .dd3-handle {
  background-color: #6b5aba;
  border: 0;
  border-radius: 0;
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  height: 32px;
  left: 5px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 32px;
}
.dd-list > li > .dd3-not-found {
  background-color: #dc3545;
  border: 0;
  border-radius: 0;
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  height: 32px;
  left: 5px;
  line-height: 32px;
  margin: 0;
  padding: 0;
  position: absolute;
  text-align: center;
  width: 32px;
}
.dd-list > li > .dd3-content {
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 0;
  display: inline-block;
  margin-left: 5px;
  padding: 0 0 0 39px;
  width: calc(100% - 5px);
}
.dd-list > li > .dd3-content > span {
  display: inline-block;
  /* float: left; */
  padding-top: 6px;
}
.dd-list > li > .dd3-content > small {
  display: inline-block;
  padding-left: 6px;
  padding-top: 6px;
}
.dd-list > li > .dd3-content > button {
  background-color: #dcdcdc;
  border: 1px solid #cccccc;
  border-radius: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.12),
    1px 1px 0 rgba(255, 255, 255, 0.2) inset;
  color: #333333;
  display: inline-block;
  height: 31px;
  line-height: 30px;
  margin: 0 !important;
  margin-left: 3px !important;
  padding: 0;
  text-align: center;
  width: 35px;
}
.dd-list > li > .dd3-content > button:hover {
  background-color: #cbcbcb;
}

.itemsCourse li.greyed-out div.dd3-content {
  background: #f6f6f6;
}
.itemsCourse li.greyed-out .btn,
.itemsCourse li.greyed-out .dd3-handle {
  opacity: 0.4;
}

.itemsCourse .dd-empty {
  display: none;
}

.dd-dragel {
  display: block;
  float: left;
  background: transparent;
  width: 100%;
}
.dd-dragel > li {
  display: block;
  width: 100% !important;
}
.dd-dragel > li > .dd3-content {
  height: 32px;
}
.dd-dragel > li > .dd3-content > button {
  float: right !important;
}
.dd-dragel .btn {
  display: none;
}

/****************
 MODALS
 ****************/
.caribe-modal {
  padding: 0;
}

.caribe-menu-modal {
  min-height: 150px;
  min-width: 600px;
  padding: 0;
}
.caribe-menu-modal .modal-header {
  background: #5d5ebf;
  background: -moz-linear-gradient(
    65deg,
    rgba(99, 97, 189, 1) 4%,
    rgba(0, 208, 243, 1) 103%
  );
  background: -webkit-linear-gradient(
    65deg,
    rgba(99, 97, 189, 1) 4%,
    rgba(0, 208, 243, 1) 103%
  );
  background: linear-gradient(
    25deg,
    rgba(99, 97, 189, 1) 4%,
    rgba(0, 208, 243, 1) 103%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa5d5ebf', endColorstr='#fa06d6bb',GradientType=1 );
  border-radius: 0;
  color: #ffffff;
  font-weight: 300;
  padding: 15px 15px;
  text-transform: uppercase;
}

.caribe-menu-modal .form-control,
.caribe-menu-modal input[type="text"],
.caribe-menu-modal input[type="email"],
.caribe-menu-modal input[type="url"] {
  border-radius: 0 !important;
}
.caribe-menu-modal .form-control:focus,
.caribe-menu-modal input[type="text"]:focus,
.caribe-menu-modal input[type="email"]:focus,
.caribe-menu-modal input[type="url"]:focus {
  border-color: #999999;
  box-shadow: none;
  outline: 0 !important;
}
.caribe-menu-modal input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  border: 1px solid #cccccc;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  position: relative;
  top: 4px;
  width: 18px;
}
.caribe-menu-modal input[type="checkbox"]:checked:before {
  content: "";
  background-color: #a0a0a0;
  display: inline-block;
  height: 12px;
  left: 2px;
  outline: 0;
  position: absolute;
  top: 2px;
  width: 12px;
}
.caribe-menu-modal input[type="checkbox"]:focus {
  outline: 0;
}

.caribe-menu-modal input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  border: 1px solid #cccccc;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 18px;
  position: relative;
  top: 4px;
  width: 18px;
}
.caribe-menu-modal input[type="radio"]:checked:before {
  content: "";
  background-color: #a0a0a0;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  left: 2px;
  outline: 0;
  position: absolute;
  top: 2px;
  width: 12px;
}
.caribe-menu-modal input[type="radio"]:focus {
  outline: 0;
}

.cancelButton {
  margin-left: 10px;
}
