.course-container { margin-top: 2%; min-height: 720px; }

.navigation { border-radius: 50%; height: 30px; text-align: center; width: 30px; }
.prev { background-color: grey; float: right; position: relative; top: 50%; width: 30px; }
.next { background-color: #e21b4c; position: absolute; top:50%; width: 30px; }
.navigation a { color: white; font-size: 18px; font-weight: 600; text-decoration: none;}

.course-info { background: transparent; padding: 0 15px 0 15px; }
.progress-bar { height: 5px; background-color: #e21b4c; border-radius: 5px; }
.info-pages { color: #e21b4c; font-size: 15px; font-weight: 400; text-align: right; width: 100%;}
.currentPage { font-weight: bold; }
