/******************
 COLUMNS SIZES
 ******************/
.caribe-visual-editor-column-size-1-5 { float: left; width: 20%; }

/******************
 GOOGLE ANALYTICS
 ******************/
.gapi-analytics-title { background-color: #ffffff; border-radius: 5px 5px 0 0; color: #757575; display: inline-block; margin-bottom: 0; padding: 15px 15px 10px; width: 100%; }
.gapi-analytics-title > img { display: inline-block; float: left; margin-right: 10px; max-width: 35px; }
.gapi-analytics-data-chart { background-color: #ffffff; border-radius: 0 0 5px 5px; display: inline-block; padding: 0 20px; width: 100%; }
.gapi-analytics-data-chart .ltr { max-width: calc(100% - 40px); }


.image-selector { display: inline-block; width: 100%; }
.image-selector img { display: inline-block; max-height: 100px; }

.gallery-cont .item {
    width: 25%;
    margin-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
}
.gallery-cont .item.w2 {
    width: 50%;
}
.gallery-cont .photo {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.13);
}
.gallery-cont .img {
    position: relative;
}
.gallery-cont .img .over .func {
    margin-top: -80px;
    position: relative;
    top: 50%;
    text-align: center;
    transition: margin-top 200ms ease-in-out;
}
.gallery-cont .img .over .func a {
    display: inline-block;
    height: 50px;
    margin-right: 2px;
    width: 50px;
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}
.gallery-cont .img .over .func a:hover {
    background: rgba(255, 255, 255, 0.3);
}
.gallery-cont .img .over .func i {
    font-size: 20px;
    color: #FFF;
    line-height: 2.4;
}
.gallery-cont .item .img:hover .over {
    opacity: 1;
}
.gallery-cont .item .img:hover .over .func {
    margin-top: -25px;
}
.gallery-cont .item .head {
    padding: 10px 10px;
    background: #FFF;
}
.gallery-cont .item .head h4 {
    margin: 0;
    font-size: 17px;
}
.gallery-cont .item .head span {
    color: #BDBDBD;
    font-size: 14px;
}
.gallery-cont .item .head span.active {
    color: #38a8ff;
}
.gallery-cont .item .head .desc {
    color: #999;
    font-size: 12px;
}
.gallery-cont .item img {
    width: 100%;
}
/*Photo Hover*/
.gallery-cont .item .over {
    top: 0;
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(36, 148, 242, 0.8);
    transition: opacity 300ms ease;
    -webkit-transition: opacity 300ms ease;
}
@media (max-width: 767px) {
    .gallery-cont .item {
        width: 50%;
    }
    .gallery-cont .item.w2 {
        width: 100%;
    }
}
#listOfImages .image-file-completed .progress {
    display: none;
}
#listOfImages .item {
    display: inline-block;
}
#listOfImages .item .func > a {
    cursor: pointer;
}

.caribe-visual-editor-components-list {
    display: inline-block;
    margin: 1px 0;
    max-width: 636px;
    padding: 0 0 0 6px;
    width: 100%;
}

.caribe-visual-editor-modal {
    min-height: auto;
    min-width: auto;
}

.caribe-visual-editor-components-list > li {
    display: inline-block;
    float: left;
    width: 105px;
}

.caribe-visual-editor-components-list > li > .col-12 {
    margin-right: -15px;
    padding-left: 0;
    padding-right: 0;
}

.caribe-visual-editor-components-list {
    display: inline-block;
    margin: 1px 0;
    max-width: 636px;
    padding: 0 0 0 6px;
    width: 100%;
}

.caribe-visual-editor-components-list > li {
    display: inline-block;
    float: left;
    width: 105px;
}

.caribe-visual-editor-components-list > li > .col-12 {
    margin-right: -15px;
    padding-left: 0;
    padding-right: 0;
}