@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

#accesibilityPanel { background-color: #ffffff; height: 100%; max-width: 400px; padding: 0 15px; overflow-y: auto; position: fixed; right: -425px; top: 0; width: 100%; z-index: 999999999999999999999; box-shadow: 2px 1px 25px 6px rgba(0,0,0,0.55)!important; -webkit-box-shadow: 2px 1px 43px 6px rgba(0,0,0,0.55)!important; -moz-box-shadow: 2px 1px 43px 6px rgba(0,0,0,0.55)!important; -o-box-shadow: 2px 1px 43px 6px rgba(0,0,0,0.55)!important; -ms-box-shadow: 2px 1px 43px 6px rgba(0,0,0,0.55)!important; }
#accesibilityPanel *:not(.fa):not(strong) { font-family: 'Lato', sans-serif; font-weight: 400; margin-bottom: 0; }
#accesibilityPanel > .row { border-bottom: 1px solid #CCCCCC; padding: 15px; }
#accesibilityPanel > .row:first-child { background-color: #eaeaea; border-bottom: 0; padding: 25px 15px; }
#accesibilityPanel > .row:last-child { border-bottom: 0; }
#accesibilityPanel h2 { display: inline-block; float: left; margin-bottom: 0; margin-top: 0; }
#accesibilityPanel h2 > strong { font-weight: 700; }

#accesibilityPanel button:not(#closeAccesibilityPanel) { background-color: #2494F2; border: 0; color: #ffffff; display: inline-block; font-size: 18px; height: 30px; line-height: 29px; text-align: center; width: 30px; }
#accesibilityPanel button[class*="Reset"] { background-color: #999999!important; font-size: 15px!important; margin-left: 5px; padding: 0 10px!important; position: relative; top: -2px; width: auto!important; }
#accesibilityPanel button:focus { outline: 0; }
#accesibilityPanel > .row:last-child button[class*="Reset"] { top: -1px; }

#accesibilityPanel h2 + p { display: inline-block; float: right; }
#accesibilityPanel h2 + p > button { background-color: transparent; border: 0; color: #000000; display: inline-block; font-size: 18px; margin-right: 15px; margin-top: 3px; }
#accesibilityPanel h2 + p > button:hover { background-color: transparent!important; color: #666666!important; }

#accesibilityPanel h3 { color: #000000; display: block; padding-bottom: 15px; text-transform: uppercase; }

#accesibilityPanel button + span { border: 1px solid #CCCCCC; display: inline-block; font-size: 16px; height: 30px; line-height: 27px; margin-left: 3px; margin-right: 3px; position: relative; text-align: center; top: -1px; width: 50px; }

#accesibilityPanel ul { display: inline-block; list-style: none; padding-left: 0; width: 100%; }
#accesibilityPanel ul > li, #accesibilityPanel ul > li > label { display: inline-block; width: 100%; }
#accesibilityPanel ul > li > label { color: #333333; display: inline-block; float: left; font-size: 15px; line-height: 20px; width: 50%; }
#accesibilityPanel ul > li > label input[type="radio"] { border: 1px solid #000000; border-radius: 50%; cursor: pointer; display: inline-block; height: 16px; margin-right: 5px; position: relative; text-align: center; top: 2px; width: 16px; appearance: none; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; }
#accesibilityPanel ul > li > label input[type="radio"]:checked:before { content: ''; background-color: #2494F2; border-radius: 50%; display: inline-block; height: 8px; left: 3px; position: absolute; top: 3px; width: 8px; }
#accesibilityPanel ul > li > label input[type="radio"]:focus { outline: 0; }

@media (max-width: 992px) {
	#accesibilityPanel > .row:first-child { padding: 15px; }
	#accesibilityPanel > .row:last-child { padding-bottom: 30px; }
	#accesibilityPanel h3 { padding-bottom: 10px; }
}


/***********************
 FILTERS
 ***********************/
#accesibilityArea.acc-filter-grayscale { filter: grayscale(100%); -webkit-filter: grayscale(100%); -moz-filter: grayscale(100%); -o-filter: grayscale(100%); -ms-filter: grayscale(100%); }
#accesibilityArea.acc-filter-invert { filter: invert(100%); -webkit-filter: invert(100%); -moz-filter: invert(100%); -o-filter: invert(100%); -ms-filter: invert(100%); }
#accesibilityArea.acc-filter-w-blue { filter: sepia(80%); -webkit-filter: sepia(80%); -moz-filter: sepia(80%); -o-filter: sepia(80%); -ms-filter: sepia(80%); }
#accesibilityArea.acc-filter-w-green { filter: sepia(80%) hue-rotate(200deg); -webkit-filter: sepia(80%) hue-rotate(200deg); -moz-filter: sepia(80%) hue-rotate(200deg); -o-filter: sepia(80%) hue-rotate(200deg); -ms-filter: sepia(80%) hue-rotate(200deg); }


/***********************
 HIGHLIGHT TEXT
 ***********************/
#accesibilityArea { display: block; position: relative; }
#accesibilityArea.acc-highlight-links a, #accesibilityArea.acc-highlight-links table tr[data-href] td,  #accesibilityArea.acc-highlight-titles h1, #accesibilityArea.acc-highlight-titles h2, #accesibilityArea.acc-highlight-titles h3,
#accesibilityArea.acc-highlight-titles h4, #accesibilityArea.acc-highlight-titles h5, #accesibilityArea.acc-highlight-titles h6, #accesibilityArea.acc-highlight-titles table th {
	background-color: #006300!important;
	color: #ffffff!important;
}


/***********************
 COLOURS
 ***********************/
#accesibilityArea.acc-colour-black h1, #accesibilityArea.acc-colour-black h2, #accesibilityArea.acc-colour-black h3, #accesibilityArea.acc-colour-black h4, #accesibilityArea.acc-colour-black h5,
#accesibilityArea.acc-colour-black h6, #accesibilityArea.acc-colour-black p, #accesibilityArea.acc-colour-black a, #accesibilityArea.acc-colour-black span, #accesibilityArea.acc-colour-black strong,
#accesibilityArea.acc-colour-black ul li, #accesibilityArea.acc-colour-black ol li, #accesibilityArea.acc-colour-black table th, #accesibilityArea.acc-colour-black table td {
	background-color: #ffffff!important;
	color: #000000!important;
}

#accesibilityArea.acc-colour-yellow h1, #accesibilityArea.acc-colour-yellow h2, #accesibilityArea.acc-colour-yellow h3, #accesibilityArea.acc-colour-yellow h4, #accesibilityArea.acc-colour-yellow h5,
#accesibilityArea.acc-colour-yellow h6, #accesibilityArea.acc-colour-yellow p, #accesibilityArea.acc-colour-yellow a, #accesibilityArea.acc-colour-yellow span, #accesibilityArea.acc-colour-yellow strong,
#accesibilityArea.acc-colour-yellow ul li, #accesibilityArea.acc-colour-yellow ol li, #accesibilityArea.acc-colour-yellow table th, #accesibilityArea.acc-colour-yellow table td {
	background-color: #000000!important;
	color: yellow!important;
}

#accesibilityArea.acc-colour-green h1, #accesibilityArea.acc-colour-green h2, #accesibilityArea.acc-colour-green h3, #accesibilityArea.acc-colour-green h4, #accesibilityArea.acc-colour-green h5,
#accesibilityArea.acc-colour-green h6, #accesibilityArea.acc-colour-green p, #accesibilityArea.acc-colour-green a, #accesibilityArea.acc-colour-green span, #accesibilityArea.acc-colour-green strong,
#accesibilityArea.acc-colour-green ul li, #accesibilityArea.acc-colour-green ol li, #accesibilityArea.acc-colour-green table th, #accesibilityArea.acc-colour-green table td {
	background-color: #000000!important;
	color: green!important;
}

#accesibilityArea.acc-colour-white h1, #accesibilityArea.acc-colour-white h2, #accesibilityArea.acc-colour-white h3, #accesibilityArea.acc-colour-white h4, #accesibilityArea.acc-colour-white h5,
#accesibilityArea.acc-colour-white h6, #accesibilityArea.acc-colour-white p, #accesibilityArea.acc-colour-white a, #accesibilityArea.acc-colour-white span, #accesibilityArea.acc-colour-white strong,
#accesibilityArea.acc-colour-white ul li, #accesibilityArea.acc-colour-white ol li, #accesibilityArea.acc-colour-white table th, #accesibilityArea.acc-colour-white table td {
	background-color: #000000!important;
	color: #ffffff!important;
}


/***********************
 JUST TEXT
 ***********************/
#accesibilityArea.acc-highlight-text * {
	background: #ffffff!important;
	background-image: none!important;
	color: #000000!important;
}

#accesibilityArea.acc-highlight-text img {
	display: none;
}