@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
	--black: #000000;
	--site1: #2B3D4F;
	--site2: #EF0349;
	--site3: #9AABB4;
	--site4: #35f5b3;
	--text: #77797a;
	--white: #ffffff;
}

/*******************
 GENERAL
 *******************/
body { color: var(--site1); font-family: 'Montserrat', sans-serif; font-weight: 500; }
body, p, ul li, ol li { font-size: 20px; line-height: 27px; }
strong { font-weight: 700; }
a, button { text-decoration: none; transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; }
a:hover { color: var(--site1); text-decoration: none; }

button:focus { border: 0; box-shadow: none; outline: 0; }

video { height: auto; max-width: 100%; }

p { margin-bottom: 10px; }
p + p { margin-top: 25px; }

h1, h2, h3, h4, h5 { font-weight: 700; }
h1 { font-size: 55px; line-height: 55px; }
h2 { font-size: 36px; line-height: 40px; }
h3 { font-size: 30px; line-height: 34px; }
h4, h5, h6 { font-size: 22px; line-height: 26px; }
h4 { color: var(--site3); }
h5 { font-style: italic; }

@media (max-width: 1199px) {
	h1 { font-size: 50px; line-height: 50px; }
	h2 { font-size: 34px; line-height: 38px; }
	h3 { font-size: 28px; line-height: 32px; }
	h4, h5, h6 { font-size: 21px; line-height: 25px; }
	body, p, ul li, ol li { font-size: 19px; line-height: 26px; }
}

@media (max-width: 992px) {
	h1 { font-size: 45px; line-height: 45px; }
	h2 { font-size: 32px; line-height: 36px; }
	h3 { font-size: 26px; line-height: 30px; }
	h4, h5, h6 { font-size: 20px; line-height: 24px; }
	body, p, ul li, ol li { font-size: 18px; line-height: 25px; }
}

@media (max-width: 767px) {
	h1 { font-size: 40px; line-height: 40px; }
	h2 { font-size: 30px; line-height: 34px; }
	h3 { font-size: 24px; line-height: 28px; }
	h4, h5, h6 { font-size: 19px; line-height: 23px; }
	body, p, ul li, ol li { font-size: 17px; line-height: 24px; }
}

@media (max-width: 576px) {
	h1 { font-size: 36px; line-height: 40px; }
	h2 { font-size: 28px; line-height: 32px; }
	h3 { font-size: 22px; line-height: 26px; }
	h4, h5, h6 { font-size: 18px; line-height: 22px; }
	body, p, ul li, ol li { font-size: 16px; line-height: 23px; }
}

.bkg-black { background-color: var(--black); }
.bkg-light { background-color: #f0f0f0; }
.bkg-site1 { background-color: var(--site1); }
.bkg-site2 { background-color: var(--site2); }
.bkg-site3 { background-color: var(--site3); }
.bkg-white { background-color: var(--white); }

.bkg-gradient { background: rgb(147,14,136); background: -moz-linear-gradient(45deg,  rgba(147,14,136,1) 0%, rgba(253,96,88,1) 100%); background: -webkit-linear-gradient(45deg,  rgba(147,14,136,1) 0%,rgba(253,96,88,1) 100%); background: linear-gradient(45deg,  rgba(147,14,136,1) 0%,rgba(253,96,88,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba0b9f', endColorstr='#ff5a58',GradientType=1 ); }
.bkg-gradient1 { background: rgb(214,42,119); background: -moz-linear-gradient(top,  rgba(214,42,119,1) 0%, rgba(253,63,93,1) 100%); background: -webkit-linear-gradient(top,  rgba(214,42,119,1) 0%,rgba(253,63,93,1) 100%); background: linear-gradient(to bottom,  rgba(214,42,119,1) 0%,rgba(253,63,93,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d62a77', endColorstr='#fd3f5d',GradientType=0 ); }
.bkg-gradient2 { background: rgb(191,3,174); background: -moz-linear-gradient(-45deg,  rgba(191,3,174,1) 0%, rgba(95,1,86,1) 100%); background: -webkit-linear-gradient(-45deg,  rgba(191,3,174,1) 0%,rgba(95,1,86,1) 100%); background: linear-gradient(135deg,  rgba(191,3,174,1) 0%,rgba(95,1,86,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf03ae', endColorstr='#5f0156',GradientType=1 ); }
.bkg-gradient3 { background: rgb(255,2,90); background: -moz-linear-gradient(-45deg,  rgba(255,2,90,1) 0%, rgba(148,1,42,1) 100%); background: -webkit-linear-gradient(-45deg,  rgba(255,2,90,1) 0%,rgba(148,1,42,1) 100%); background: linear-gradient(135deg,  rgba(255,2,90,1) 0%,rgba(148,1,42,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff025a', endColorstr='#94012a',GradientType=1 ); }
.bkg-gradient4 { background: rgb(255,79,78); background: -moz-linear-gradient(-45deg,  rgba(255,79,78,1) 0%, rgba(148,35,35,1) 100%); background: -webkit-linear-gradient(-45deg,  rgba(255,79,78,1) 0%,rgba(148,35,35,1) 100%); background: linear-gradient(135deg,  rgba(255,79,78,1) 0%,rgba(148,35,35,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4f4e', endColorstr='#942323',GradientType=1 ); }

.gradient-separator { display: inline-block; height: 10px; width: 100%; background: rgb(147,14,136); background: -moz-linear-gradient(45deg,  rgba(147,14,136,1) 0%, rgba(253,96,88,1) 100%); background: -webkit-linear-gradient(45deg,  rgba(147,14,136,1) 0%,rgba(253,96,88,1) 100%); background: linear-gradient(45deg,  rgba(147,14,136,1) 0%,rgba(253,96,88,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba0b9f', endColorstr='#ff5a58',GradientType=1 ); }

.text { color: var(--text); }
.text-black { color: var(--black); }
.text-site1 { color: var(--site1); }
.text-site2 { color: var(--site2); }
.text-site3 { color: var(--site3); }
.text-site4 { color: var(--site4); }
.text-white { color: var(--white); }

.mh-200 { min-height: 200px; }
.mw-90 { max-width: 90%; }

.button { border-radius: 36px; color: var(--white); display: inline-block; padding: 10px 36px; text-align: center; text-transform: uppercase; background: rgb(147,14,136); background: -moz-linear-gradient(45deg,  rgba(147,14,136,1) 0%, rgba(253,96,88,1) 100%); background: -webkit-linear-gradient(45deg,  rgba(147,14,136,1) 0%,rgba(253,96,88,1) 100%); background: linear-gradient(45deg,  rgba(147,14,136,1) 0%,rgba(253,96,88,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ba0b9f', endColorstr='#ff5a58',GradientType=1 ); }
.button:hover { background-color: var(--site1); color: var(--white); }

#accesibilityArea { overflow-x: hidden; }

.container { max-width: 1315px; }

/*******************
 HEADER
 *******************/
header { background-color: var(--site1); padding-bottom: 12px; padding-top: 12px; }
header .logo, header .logo img { display: inline-block; height: auto; max-height: 60px; }
header p { position: relative; z-index: 999999; }
header p > a { color: var(--white); font-size: 28px; line-height: 28px; }
header p > a + a { margin-left: 10px; }
header p > a:hover { color: var(--site3); }

.section-title { padding-bottom: 25px; padding-top: 40px; background: rgb(147,14,163); background: -moz-linear-gradient(45deg,  rgba(147,14,163,1) 1%, rgba(253,59,94,1) 57%, rgba(253,96,88,1) 100%); background: -webkit-linear-gradient(45deg,  rgba(147,14,163,1) 1%,rgba(253,59,94,1) 57%,rgba(253,96,88,1) 100%); background: linear-gradient(45deg,  rgba(147,14,163,1) 1%,rgba(253,59,94,1) 57%,rgba(253,96,88,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#930ea3', endColorstr='#fd6058',GradientType=1 ); }
.section-title h2, .section-title p { color: var(--white); }
.section-title p { margin-bottom: 5px; }
.section-title .text-right a { border: 1px solid var(--white); border-radius: 50%; color: var(--white); display: inline-block; height: 40px; line-height: 40px; padding-left: 4px; text-align: center; width: 40px; }
.section-title .text-right a:hover { background-color: var(--white); color: var(--site2); }

@media (max-width: 992px) {
	.section-title { padding-bottom: 15px; padding-top: 25px; position: relative; }
	.section-title .text-right { padding-right: 0; position: absolute; right: 15px; top: 15px; }
	.section-title .text-right a { height: 30px; line-height: 29px; padding-left: 4px; text-align: center; width: 30px; }
}

@media (max-width: 767px) {
	.section-title .text-right { top: 10px; }
	.section-title .text-right a { font-size: 13px; height: 26px; line-height: 24px; padding-left: 4px; text-align: center; width: 26px; }
}


/*******************
 OFFCANVAS
 *******************/
#offCanvas { background-color: rgba(0,0,0,0.7); display: none; height: 100vh; left: 0; position: fixed; top: 0; width: 100%; z-index: 999999999999999; }
#offCanvas.active { display: inline-block; }

#offCanvas > button { background-color: transparent; display: inline-block; height: 30px; padding: 0; position: absolute; right: 40px; top: 15px; width: 30px; }
#offCanvas > button:before, #offCanvas > button:after { content: ''; background-color: var(--white); display: inline-block; height: 2px; left: 0; position: absolute; top: 50%; width: 30px; transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; z-index: 9; }
#offCanvas > button:before { transform: rotate(45deg); }
#offCanvas > button:after { transform: rotate(-45deg); }
#offCanvas > button:hover:before, #offCanvas > button:hover:after { background-color: var(--site1); }

#offCanvas .courses-navigation { background-color: var(--site2); display: inline-block; height: 100%; max-width: 700px; min-height: 100vh; overflow-y: auto; padding: 50px 35px 35px; position: absolute; right: 0; top: 0; width: 100%; }
#offCanvas .courses-navigation ul { display: inline-block; list-style: none; padding-left: 0; width: 100%; }
#offCanvas .courses-navigation ul > li { display: inline-block; width: 100%; }

/* Level 1 */
#offCanvas .courses-navigation > ul > li > a { color: var(--white); font-size: 22px; line-height: 26px; text-transform: uppercase; }

/* Level 2 */
#offCanvas .courses-navigation > ul > li > ul > li { margin-bottom: 5px; margin-top: 15px; padding-left: 30px; position: relative; }
#offCanvas .courses-navigation > ul > li > ul > li:before { content: ''; border: 2px solid var(--white); border-radius: 50%; display: inline-block; height: 12px; left: 0; position: absolute; top: 8px; width: 12px; }
#offCanvas .courses-navigation > ul > li > ul > li.active:before, #offCanvas .courses-navigation > ul > li > ul > li:hover:before { border-color: var(--white); }
#offCanvas .courses-navigation > ul > li > ul > li.done:before { background-color: var(--white); }
#offCanvas .courses-navigation > ul > li > ul > li > a { color: var(--white); font-weight: 700; }
#offCanvas .courses-navigation > ul > li ul > li > a { line-height: 20px; }
#offCanvas .courses-navigation > ul > li > ul > li.active > a, #offCanvas .courses-navigation > ul > li > ul > li > a:hover { color: var(--white); }
#offCanvas .courses-navigation > ul > li > ul > li.done > a { color: var(--white); }

/* Level >= 3 */
#offCanvas .courses-navigation > ul > li > ul > li ul { margin-top: 0; }
#offCanvas .courses-navigation > ul > li > ul > li > ul { margin-left: -30px; }
#offCanvas .courses-navigation > ul > li > ul > li ul > li { padding-left: 30px; position: relative; }
#offCanvas .courses-navigation > ul > li > ul > li ul > li:before { content: ''; border: 2px solid rgba(255,255,255,0.6); border-radius: 50%; display: inline-block; height: 12px; left: 0; position: absolute; top: 8px; width: 12px; }
#offCanvas .courses-navigation > ul > li > ul > li ul > li > a { color: rgba(255,255,255,0.6); font-size: 17px; line-height: 21px; }
#offCanvas .courses-navigation > ul > li > ul > li ul > li.active:before, #offCanvas .courses-navigation > ul > li > ul > li ul > li:hover:before { border-color: var(--white); }
#offCanvas .courses-navigation > ul > li > ul > li ul > li.done:before { background-color: var(--white); }
#offCanvas .courses-navigation > ul > li > ul > li ul > li.active > a, #offCanvas .courses-navigation > ul > li > ul > li ul > li > a:hover { color: var(--white); }
#offCanvas .courses-navigation > ul > li > ul > li ul > li.done > a { color: var(--white); }


/*******************
 FOOTER
 *******************/
footer { background-color: var(--site1); padding-bottom: 30px; padding-top: 40px; }
footer .page-select { background-color: var(--site2); border-radius: 50%; color: var(--white); display: inline-block; font-size: 34px; height: 50px; line-height: 50px; text-align: center; width: 50px; }
footer .page-select[title="Previous"] { padding-right: 3px; }
footer .page-select[title="Next"] { padding-left: 3px; }
footer .page-select:hover { background-color: var(--white); color: var(--site1); }

.progress-bar { background-color: rgba(226,226,226,0.35); border-radius: 6px; }
.progress-bar .progress { border-radius: 6px; height: 6px; background: rgb(239,3,73); background: -moz-linear-gradient(left,  rgba(239,3,73,1) 0%, rgba(131,16,196,1) 76%, rgba(131,16,196,1) 100%); background: -webkit-linear-gradient(left,  rgba(239,3,73,1) 0%,rgba(131,16,196,1) 76%,rgba(131,16,196,1) 100%); background: linear-gradient(to right,  rgba(239,3,73,1) 0%,rgba(131,16,196,1) 76%,rgba(131,16,196,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0349', endColorstr='#8310c4',GradientType=1 ); }

@media (max-width: 1199px) {
	footer .page-select { font-size: 32px; height: 46px; line-height: 46px; width: 46px; }
}

@media (max-width: 992px) {
	footer .page-select { font-size: 30px; height: 42px; line-height: 42px; width: 42px; }
}

@media (max-width: 767px) {
	footer .page-select { font-size: 28px; height: 38px; line-height: 38px; width: 38px; }
}

@media (max-width: 576px) {
	footer .page-select { font-size: 24px; height: 34px; line-height: 34px; width: 34px; }
}


/*******************
 CONTENT
 *******************/
section#content { min-height: calc(100vh - 226px); }

@media (max-width: 1199px) {
	section#content { min-height: calc(100vh - 222px); }
}

@media (max-width: 992px) {
	section#content { min-height: calc(100vh - 218px); }
}

@media (max-width: 767px) {
	section#content { min-height: calc(100vh - 214px); }
}

@media (max-width: 576px) {
	section#content { min-height: calc(100vh - 210px); }
}


/*******************
 PAGES
 *******************/
.icon-title { display: inline-block; margin-bottom: 20px; margin-top: 20px; padding-left: 60px; position: relative; }
.icon-title:before { content: ''; border-radius: 50%; display: inline-block; height: 50px; left: 0; line-height: 50px; position: absolute; text-align: center; top: -10px; width: 50px; background: rgb(239,3,73); background: -moz-linear-gradient(top,  rgba(239,3,73,1) 0%, rgba(131,16,196,1) 100%); background: -webkit-linear-gradient(top,  rgba(239,3,73,1) 0%,rgba(131,16,196,1) 100%); background: linear-gradient(to bottom,  rgba(239,3,73,1) 0%,rgba(131,16,196,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef0349', endColorstr='#8310c4',GradientType=0 ); }
.icon-title:after { content: ''; background-position: center; background-repeat: no-repeat; background-size: contain; display: inline-block; height: 24px; left: 13px; position: absolute; top: 3px; width: 24px; filter: brightness(100); -webkit-filter: brightness(100); -moz-filter: brightness(100); }
.icon-title.user-world:after { content: ''; background-image: url('../img/icons/student-world-icon.png'); }

p.subtitle { background-color: var(--site1); border-radius: 35px; color: var(--white); display: inline-block; font-weight: 700; margin-bottom: 15px; min-width: 200px; padding: 8px 30px; text-align: center; }

ul.checklist { display: inline-block; list-style: none; padding-left: 0; width: 100%; }
ul.checklist > li { display: inline-block; padding-left: 64px; position: relative; width: 100%; }
ul.checklist > li:not(:last-child) { margin-bottom: 40px; }
ul.checklist > li:before { content: ''; background: url('../img/icons/check-icon.png') no-repeat center; background-size: contain; display: inline-block; height: 40px; left: 0; position: absolute; top: -2px; width: 40px; }

.box { background-color: transparent!important; position: relative; }
.box * { position: relative; z-index: 9; }
.box.bkg-site1:before { content: ''; background-color: var(--site1); display: inline-block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 1; }
.box.bkg-site1:after { content: ''; background-color: var(--site2); height: 100%; left: 10px; position: absolute; top: 10px; width: 100%; z-index: 0; }

.number-box { background-color: var(--site1); height: 100%; min-height: 270px; padding: 40px 30px 40px 85px; position: relative; transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; }
.number-box:not(.nh):hover { background: var(--site2); }
.number-box h2 { color: var(--white); font-size: 60px; line-height: 60px; position: absolute; left: 30px; top: 40px; }
.number-box p { color: var(--white); transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; }
.number-box:not(.nh) p + p { margin-top: 10px; opacity: 0; }
.number-box:not(.nh):after { content: '\f105'; background-color: var(--site2); border-radius: 50%; bottom: 20px; color: var(--white); display: inline-block; font-family: FontAwesome; font-size: 19px; height: 30px; line-height: 30px; margin-left: 10px; position: absolute; right: 20px; text-align: center; width: 30px; transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; }
.number-box:not(.nh):hover p + p { opacity: 1; }
.number-box:not(.nh):hover:after { opacity: 0; }

ul.disc { display: inline-block; list-style: none; margin-bottom: 0; padding-left: 0; width: 100%; }
ul.disc > li { padding-left: 20px; position: relative; }
ul.disc > li:before { content: ''; background-color: var(--site2); border-radius: 50%; display: inline-block; height: 10px; left: 0; position: absolute; top: 7px; width: 10px; }
ul.disc.white-disc > li:before { background-color: var(--white); }

.align-top-title { background-color: var(--site1); border-radius: 35px; color: var(--white); display: inline-block; left: 50%; padding: 10px 36px; position: absolute; top: -99px; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); }

.with-icon:after { content: '\f105'; background-color: var(--site2); border-radius: 50%; color: var(--white); display: inline-block; font-family: FontAwesome; font-size: 17px; height: 24px; line-height: 24px; margin-left: 10px; text-align: center; width: 24px; transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; }

@media (min-width: 993px) {
	.vertical-center { display: inline-block; left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); }
}

@media (max-width: 992px) {
	[data-mh] { height: auto!important; }

	.rotate-mobile { margin-bottom: 30px; margin-top: 30px; transform: rotate(90deg); -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); }
}

/**** TIPS ****/
.tip { border: 5px solid var(--site1); border-radius: 20px; display: inline-block; margin-bottom: 34px; padding: 50px 30px; position: relative; text-align: center; width: 100%; }
.tip:before { content: ''; border-left: 21px solid transparent; border-right: 20px solid transparent; border-top: 37px solid var(--site1); bottom: -38px; display: inline-block; left: 50%; position: absolute; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); }
.tip:after { content: ''; border-left: 15px solid transparent; border-right: 15px solid transparent; border-top: 30px solid var(--white); bottom: -30px; display: inline-block; left: 50%; position: absolute; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); }
.tip > :first-child { position: relative; }
.tip > :first-child:before { content: ''; background: url('../img/icons/tip-icon.jpg') no-repeat center; background-size: contain; height: 110px; left: 50%; position: absolute; top: -110px; width: 110px; z-index: 9; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); }
.tip h2 + p, .tip h3 + p, .tip h4 + p, .tip h5 + p, .tip h6 + p { margin-top: 20px; }

.tip.w-100 { text-align: left; }
.tip.w-100:before, .tip.w-100:after { content: none; }
.tip.w-100 > :first-child:before { left: 15px; transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); }

/**** Help ****/
.help { cursor: pointer; display: inline-block; position: relative; }
.help img { height: 26px; }

.help .tooltip-text { background-color: var(--white); border: 2px solid #0bb1e0; border-radius: 30px; bottom: 110px; box-shadow: 0 0 8px rgba(0,0,0,0.2); color: var(--site1); display: inline-block; font-size: 17px; font-weight: 400; line-height: 22px; opacity: 0; padding: 70px 30px 35px; left: 50%; position: absolute; text-align: left; visibility: hidden; width: 360px; z-index: 9999999999; transform: translateX(-50%); -webkit-transform: translateX(-50%); -moz-transform: translateX(-50%); transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; }
.help .tooltip-text:before { content: ''; background: url('../img/icons/graduation-cap-icon.png') no-repeat center; background-size: contain; display: inline-block; height: 80px; left: calc(50% - 40px); position: absolute; top: -40px; width: 80px; }
.help:hover .tooltip-text { opacity: 1; visibility: visible; }

@media (min-width: 993px) {
	.help .tooltip-text:after { content: ''; background: url('../img/icons/bubbles-icon.png') no-repeat center; background-size: contain; bottom: -79px; display: inline-block; height: 79px; left: calc(50% - 41px); position: absolute; width: 57px; }
}

@media (max-width: 992px) {
	.help .tooltip-text { bottom: inherit; left: 50%; position: fixed; top: 50%; z-index: 999; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); }
}

/**** Flip Card ****/
.flip-card { background-color: transparent; height: calc(100% - 30px); margin-bottom: 30px; min-height: 301px; perspective: 1000px; width: 100%; }
.flip-card-inner { box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); height: 100%; position: relative; width: 100%; transition: transform 0.6s; transform-style: preserve-3d; }
.flip-card:hover .flip-card-inner { transform: rotateY(180deg); }
.flip-card-front, .flip-card-back { height: 100%; position: absolute; width: 100%; backface-visibility: hidden; -webkit-backface-visibility: hidden; }
.flip-card-front { background-color: var(--site1); color: var(--white); }
.flip-card:not(.with-text) .flip-card-front:after { content: '\f105'; background-color: var(--site2); border-radius: 50%; bottom: 20px; color: var(--white); font-family: FontAwesome; font-size: 30px; height: 44px; line-height: 43px; position: absolute; right: 20px; text-align: center; width: 44px; }
.flip-card:not(.with-text) .flip-card-front h2, .flip-card:not(.with-text) .flip-card-front img { color: var(--white); display: inline-block; left: 50%; margin-bottom: 0; position: absolute; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); }
.flip-card-front img { max-width: 80%; }
.flip-card-back { color: var(--white); padding: 50px; position: relative; transform: rotateY(180deg); background: rgb(216,43,118); background: -moz-linear-gradient(top,  rgba(216,43,118,1) 0%, rgba(253,61,94,1) 100%); background: -webkit-linear-gradient(top,  rgba(216,43,118,1) 0%,rgba(253,61,94,1) 100%); background: linear-gradient(to bottom,  rgba(216,43,118,1) 0%,rgba(253,61,94,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d82b76', endColorstr='#fd3d5e',GradientType=0 ); }

.flip-card.with-text { text-align: center; }
.flip-card.with-text .flip-card-front { padding-bottom: 40px; padding-top: 40px; position: relative; }
.flip-card.with-text .flip-card-front h4 { margin-top: 20px; }
.flip-card.with-text .flip-card-back { position: absolute; top: 0; }

/**** Section Timeline ****/
.section-timeline { display: inline-block; list-style: none; margin-bottom: 0; padding-left: 0; width: 100%; }
.section-timeline > li { display: inline-block; padding-left: 142px; position: relative; width: 100%; }
.section-timeline > li:before { content: ''; background: url('../img/icons/timeline-desktop.png') no-repeat center; background-size: contain; display: inline-block; height: 40px; left: 0; position: absolute; top: -8px; width: 127px; z-index: 1; }
.section-timeline > li:not(:last-child) { padding-bottom: 50px; }
.section-timeline > li:not(:last-child):after { content: ''; background-color: #545e62; display: inline-block; height: calc(100% - 30px); left: 18px; position: absolute; top: 30px; width: 4px; }
.section-timeline > li > ul { margin-bottom: 0; margin-top: 10px; padding-left: 25px; }
.section-timeline > li > ul > li:not(:last-child) { margin-bottom: 5px; }

@media (max-width: 576px) {
	.section-timeline > li { padding-left: 55px; }
	.section-timeline > li:before { background-image: url('../img/icons/timeline-mobile.png'); width: 40px; }
}

/**** Link Box ****/
.link-box { display: inline-block; position: relative; width: 100%; }
.link-box a { background-color: var(--site1); display: inline-block; position: relative; width: 100%; }
.link-box a:before { content: ''; display: block; padding-top: 50%; }
.link-box a:after { content: '\f105'; background-color: var(--site2); border-radius: 50%; bottom: 20px; color: var(--white); display: inline-block; font-family: FontAwesome; font-size: 35px; height: 50px; line-height: 50px; padding-left: 2px; position: absolute; right: 20px; text-align: center; width: 50px; transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; }
.link-box a .text { color: var(--white); font-size: 50px; font-weight: 700; left: 50%; line-height: 50px; position: absolute; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); }
.link-box a:hover { background: var(--site2); }
.link-box a:hover:after { background: var(--white); color: var(--site2); }

@media (max-width: 992px) {
	.link-box a .text { font-size: 44px; line-height: 44px; }
}

@media (max-width: 767px) {
	.link-box a .text { font-size: 38px; line-height: 40px; }
	.link-box a:after { font-size: 27px; height: 40px; line-height: 40px; padding-left: 2px; width: 40px; }
}

@media (max-width: 576px) {
	.link-box a .text { font-size: 34px; line-height: 38px; }
}

/**** Numbered Boxes ****/
.numbered-boxes { display: inline-block; list-style: none; margin-bottom: 0; padding-left: 0; width: 100%; }
.numbered-boxes > li { border: 1px solid #eaeaea; border-top: 0; display: inline-block; min-height: 88px; padding: 20px 45px 20px 120px; position: relative; width: 100%; }
.numbered-boxes > li:nth-child(2n) { background-color: #f0f0f0; }
.numbered-boxes > li h2 { font-size: 50px; line-height: 50px; left: 30px; position: absolute; top: 20px; }
.numbered-boxes > li p { font-size: 16px; outline-offset: 21px; }

@media (max-width: 1199px) {
	.numbered-boxes > li { padding-left: 110px; }
}

@media (max-width: 992px) {
	.numbered-boxes > li { padding-left: 100px; }
	.numbered-boxes > li h2 { left: 20px; }
}

@media (max-width: 767px) {
	.numbered-boxes > li { padding-left: 90px; }
	.numbered-boxes > li h2 { font-size: 45px; line-height: 45px; }
}


/**** Modals ****/
.uni-modal { background-color: rgba(86,99,113,0.98); display: none; left: 0; min-height: 100vh; position: fixed; top: 0; width: 100%; z-index: 99999999999; }
.uni-modal.active { display: inline-block; }
.uni-modal .uni-modal-container { background-color: var(--white); display: inline-block; left: 50%; max-height: calc(100% - 30px); max-width: 940px; overflow-y: auto; position: absolute; top: 50%; width: 100%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); }
.uni-modal .uni-modal-header { border-bottom: 1px solid #b6b7b7; display: inline-block; padding: 30px; width: 100%; }
.uni-modal .uni-modal-header h3 { color: var(--site2); margin-bottom: 0; text-transform: uppercase; }
.uni-modal .uni-modal-header p { font-weight: 700; margin-bottom: 0; margin-top: 0; text-transform: uppercase; }

.uni-modal .uni-modal-header button { background-color: transparent; border: 0; box-shadow: none; display: inline-block; height: 40px; padding: 0; position: absolute; right: 15px; top: 15px; width: 40px; }
.uni-modal .uni-modal-header button:before, .uni-modal .uni-modal-header button:after { content: ''; background-color: #77797a; border-radius: 3px; display: inline-block; height: 4px; left: 0; position: absolute; top: 50%; width: 40px; transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; }
.uni-modal .uni-modal-header button:before { transform: rotate(45deg); }
.uni-modal .uni-modal-header button:after { transform: rotate(-45deg); }
.uni-modal .uni-modal-header button:hover:before, .uni-modal .uni-modal-header button:hover:after { background-color: var(--site1); }

.uni-modal .uni-modal-content { display: inline-block; padding: 50px 30px; width: 100%; }
.uni-modal ul { list-style: none; margin-bottom: 0; padding-left: 0; width: 100%; }
.uni-modal ul > li { padding-left: 20px; position: relative; }
.uni-modal ul > li:before { content: ''; background-color: var(--site2); border-radius: 50%; display: inline-block; height: 10px; left: 0; position: absolute; top: 7px; width: 10px; }
.uni-modal .uni-modal-content .button { font-size: 15px; line-height: 20px; padding: 12px 36px; }
.uni-modal .uni-modal-content .button:hover { opacity: .8; }

.small-modal { background-color: var(--white); box-shadow: 0 0 10px rgba(0,0,0,0.2); display: none; left: 50%; padding: 30px; position: fixed; max-width: 360px; top: 50%; width: 100%; z-index: 999999; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); }
.small-modal.active { display: inline-block; }
.small-modal p, .small-modal ul li, .small-modal ol li { font-size: 14px; line-height: 19px; }
.small-modal ul { margin-top: 10px; }
.small-modal button + p:not(:last-child) { display: inline-block; margin-bottom: 10px; min-height: 40px; position: relative; top: 10px; padding-left: 54px; width: 100%; }
.small-modal button + p img { position: absolute; left: 0; top: -13px; }
.small-modal p + p { margin-top: 15px; }
.small-modal p img { display: inline-block; height: 44px; margin-right: 8px; }

.small-modal button { background-color: transparent; border: 0; box-shadow: none; display: inline-block; height: 20px; padding: 0; position: absolute; right: 15px; top: 15px; width: 20px; }
.small-modal button:before, .small-modal button:after { content: ''; background-color: #77797a; border-radius: 1px; display: inline-block; height: 2px; left: 0; position: absolute; top: 50%; width: 20px; transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; }
.small-modal button:before { transform: rotate(45deg); }
.small-modal button:after { transform: rotate(-45deg); }
.small-modal button:hover:before, .small-modal button:hover:after { background-color: var(--site1); }

@media (max-width: 992px) {
	.uni-modal .uni-modal-header button { height: 30px; right: 10px; top: 10px; width: 30px; }
	.uni-modal .uni-modal-header button:before, .uni-modal .uni-modal-header button:after { height: 4px; width: 30px; }
}

@media (max-width: 576px) {
	.uni-modal .uni-modal-header button { height: 20px; width: 20px; }
	.uni-modal .uni-modal-header button:before, .uni-modal .uni-modal-header button:after { height: 3px; width: 20px; }
}

/**** Betting Events ****/
ul.betting-events { display: inline-block; height: 615px; list-style: none; margin-top: 45px; margin-bottom: 60px; max-width: 1295px; padding-left: 0; position: relative; width: 100%; }
ul.betting-events > li { background: url('../img/betting-event-dark-bkg.png') no-repeat center; background-size: contain; display: inline-block; height: 400px; position: absolute; text-align: center; width: 450px; transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; }
ul.betting-events > li:nth-child(2n) { background-image: url('../img/betting-event-blue-bkg.png'); }
ul.betting-events > li a .text:after { content: '\f105'; background-color: var(--site2); border-radius: 50%; color: var(--white); display: inline-block; font-family: FontAwesome; font-style: normal; font-size: 17px; height: 24px; line-height: 24px; margin-left: 10px; text-align: center; width: 24px; transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; }
ul.betting-events > li a:hover .text:after { background-color: var(--site1); color: var(--white); }
ul.betting-events > li a { display: inline-block; left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); }
ul.betting-events > li a .text { color: var(--white); font-weight: 700; font-style: italic; }

@media (min-width: 993px) {
	ul.betting-events > li:first-child { bottom: -56px; left: 0; transform: rotate(-68deg); }
	ul.betting-events > li:nth-child(2) { left: 250px; top: 30px; transform: rotate(-23deg); }
	ul.betting-events > li:nth-child(3) { right: 250px; top: 34px; transform: rotate(23deg); }
	ul.betting-events > li:nth-child(4) { bottom: -64px; right: 8px; transform: rotate(66.5deg); }
	ul.betting-events > li:hover { background-image: url('../img/betting-event-red-bkg.png'); }
	
	ul.betting-events > li:first-child a { left: 27%; top: 40%; transform: rotate(69deg); }
	ul.betting-events > li:nth-child(2) a { left: 30%; top: 40%; transform: rotate(23deg); }
	ul.betting-events > li:nth-child(3) a { left: 30%; top: 40%; transform: rotate(-23deg); }
	ul.betting-events > li:nth-child(4) a { left: 34%; top: 40%; transform: rotate(-66.5deg); }
}

@media (min-width: 993px) and (max-width: 1342px) {
	ul.betting-events { height: 460px; max-width: 940px; }
	ul.betting-events > li { height: 280px; width: 320px; }
	ul.betting-events > li:first-child { bottom: -36px; }
	ul.betting-events > li:nth-child(2) { left: 175px; }
	ul.betting-events > li:nth-child(3) { right: 186px; }
	ul.betting-events > li:nth-child(4) { bottom: -34px; }

	ul.betting-events > li:first-child a { left: 21%; }
	ul.betting-events > li:nth-child(2) a { left: 23%; }
	ul.betting-events > li:nth-child(3) a { left: 21%; }
	ul.betting-events > li:nth-child(4) a { left: 27%; }
}

@media (max-width: 992px) {
	ul.betting-events { height: auto; width: 100%; }
	ul.betting-events > li { background-color: var(--site1); background-image: none; display: inline-block; height: 250px; position: relative; width: 100%; }
	ul.betting-events > li:nth-child(2n) { background-color: #00ccf7; background-image: none; }
	ul.betting-events > li:hover { background-color: var(--site2); }
	ul.betting-events > li:after { content: ''; background-color: rgba(255,255,255,0.2); bottom: 0; display: inline-block; height: 30px; left: 0; position: absolute; width: 100%; }
	ul.betting-events > li:not(:last-child) { margin-bottom: 30px; }
	ul.betting-events > li > a { color: var(--white); height: 100%; left: 0; top: 0; width: 100%; transform: translate(0, 0); -webkit-transform: translate(0, 0); -moz-transform: translate(0, 0); }
	ul.betting-events > li > a .text { display: inline-block; left: 50%; position: absolute; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); }
}

/**** Tables ****/
.table-container { display: inline-block; overflow-x: auto; width: 100%; }
table { border: 1px solid #e2e2e2; }
table thead { background: rgb(147,14,163); background: -moz-linear-gradient(left,  rgba(147,14,163,1) 0%, rgba(253,89,89,1) 100%); background: -webkit-linear-gradient(left,  rgba(147,14,163,1) 0%,rgba(253,89,89,1) 100%); background: linear-gradient(to right,  rgba(147,14,163,1) 0%,rgba(253,89,89,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#930ea3', endColorstr='#fd5959',GradientType=1 ); }
table th, table td { padding: 20px; }
table th { color: var(--white); }
table a { color: var(--site1); font-weight: 700; }
table tbody tr:nth-child(2n) { background-color: #f0f0f0; }

/**** Accordions ****/
[role="tablist"] .card, [role="tablist"] .card .card-header, [role="tablist"] .card .card-body { border: 0; display: inline-block; width: 100%; }
[role="tablist"] .card:not(:last-child) { margin-bottom: 15px; }
[role="tablist"] .card .card-header { padding: 0; }
[role="tablist"] .card .card-header h5, [role="tablist"] .card .card-header h5 > a { display: inline-block; font-style: normal; width: 100%; }
[role="tablist"] .card .card-header h5 > a { background-color: var(--site1); border: 1px solid var(--site1); border-bottom: 0; color: var(--white); padding: 25px 60px; position: relative; }
[role="tablist"] .card .card-header h5 > a:after { content: '\f105'; background-color: var(--site2); border-radius: 50%; color: var(--white); display: inline-block; font-family: FontAwesome; font-size: 25px; height: 36px; line-height: 37px; padding-left: 2px; position: absolute; right: 18px; text-align: center; top: 50%; width: 36px; transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; transform: rotate(0) translateY(-50%); -webkit-transform: rotate(0) translateY(-50%); -moz-transform: rotate(0) translateY(-50%); }
[role="tablist"] .card .card-header h5 > a .number { font-size: 40px; display: inline-block; left: 20px; position: absolute; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); }
[role="tablist"] .card .card-header h5 > a[aria-expanded="true"] { background-color: var(--white); border-color: var(--site2); color: var(--site1); }
[role="tablist"] .card .card-header h5 > a[aria-expanded="true"]:after { top: 25%; transform: rotate(-90deg) translateY(0); -webkit-transform: rotate(-90deg) translateY(0); -moz-transform: rotate(-90deg) translateY(0); }
[role="tablist"] .card .card-body { border: 1px solid var(--site2); border-top: 0; padding-bottom: 0; padding-left: 30px; padding-right: 30px; }
[role="tablist"] .card .card-body .row[style*="background-color"] { left: -15px; position: relative; width: calc(100% + 60px); }


/**** Questions ****/
#question { background-color: #9aabb4; padding-bottom: 100px; padding-top: 100px; }
#question .question-content { padding: 75px 45px; position: relative; }
#question .question-content * { position: relative; z-index: 3; }
#question .question-content:before { content: ''; background-color: var(--white); display: inline-block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 2; }
#question .question-content:after { content: ''; background-color: #6c818b; display: inline-block; height: 100%; left: 15px; position: absolute; top: 15px; width: 100%; z-index: 1; }

#question .question-number { background-color: #35cbf5; border-radius: 35px; color: var(--white); display: inline-block; font-size: 15px; line-height: 19px; margin-bottom: 25px; padding: 14px 36px; text-transform: uppercase; }
#question .question-number + h6 { font-weight: 700; margin-bottom: 35px; }

#question .answer { cursor: pointer; display: inline-block; height: 100%; min-height: 160px; padding: 45px 35px 35px 80px; position: relative; width: 100%; transition: .5s all ease; -webkit-transition: .5s all ease; -moz-transition: .5s all ease; background: rgb(43,61,79); background: -moz-linear-gradient(top,  rgba(43,61,79,1) 1%, rgba(43,61,79,1) 100%); background: -webkit-linear-gradient(top,  rgba(43,61,79,1) 1%,rgba(43,61,79,1) 100%); background: linear-gradient(to bottom,  rgba(43,61,79,1) 1%,rgba(43,61,79,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b3d4f', endColorstr='#2b3d4f',GradientType=0 ); }
#question.multiple .answer { padding-left: 95px; }
#question .answer.active { background: rgb(214,42,119); background: -moz-linear-gradient(top,  rgba(214,42,119,1) 0%, rgba(253,63,93,1) 100%); background: -webkit-linear-gradient(top,  rgba(214,42,119,1) 0%,rgba(253,63,93,1) 100%); background: linear-gradient(to bottom,  rgba(214,42,119,1) 0%,rgba(253,63,93,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d62a77', endColorstr='#fd3f5d',GradientType=0 ); }
#question .answer.correct { outline: 10px solid var(--site4); }
#question .answer * { color: var(--white); }
#question .answer h3 { font-size: 70px; left: 20px; line-height: 55px; position: absolute; top: 45px; }
#question .answer h2 { display: inline; font-size: 50px; left: 50%; line-height: 50px; position: absolute; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); }

.question-answer { padding-bottom: 20px; position: relative; }
.question-answer * { position: relative; z-index: 3; }
.question-answer:before { content: ''; background-color: var(--site1); display: inline-block; height: 100%; left: 0; position: absolute; top: 0; width: 100%; z-index: 2; }
.question-answer:after { content: ''; background-color: #6c818b; display: inline-block; height: 100%; left: 15px; position: absolute; top: 15px; width: 100%; z-index: 1; }
.question-answer h2, .question-answer h3, .question-answer h4 { color: var(--site4); margin-bottom: 20px; }
.question-answer h5, .question-answer h6, .question-answer p { color: var(--white); }
.question-answer img { margin-bottom: 20px; margin-top: -30px; }

@media (max-width: 1199px) {
	#question { padding-bottom: 50px; padding-top: 50px; }
	#question .question-content { padding: 60px 30px; }
}

@media (max-width: 992px) {
	#question .question-content { margin-left: 5px; margin-right: 5px; padding: 55px 15px; }
}